<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <h4><a href="/api">api docs</a></h4>
          <h4 class="text-center"><a class="wd_link" href="https://westondombroski.github.io">weston dombroski</a></h4>
        </div>
      </div>

        <div>
          <img src="images/drums.jpeg" alt="artsy drums" class = "img-responsive img-circle center-block main_image" height = "350" width = "350">
        </div>

        <h4 class="text-center">favorite jazz drummers</h4>

        <div class "col-md-12">
          <form class="form-inline" action="https://calm-scrubland-61487.herokuapp.com/api/drummers" method="POST">
			      <input type="text" class="form-control" name="q" value="" placeholder="name">
					  <input type="submit" value="add drummer" class="btn btn-default">
				  </form>
        </div>

        <div class="row">
          <div class="col-md-12" id="results">

          </div>
        </div>

    </div>
  </body>
</html>
